<div *ngIf="auth.user | async; then authenticated else guest">
  <!-- template will replace this div -->
</div>


<!-- User NOT logged in -->
<ng-template #guest>
  <img class="icon" src="../../assets/images/Q2-Icon.png" alt="Icon">
  <button (click)="auth.googleLogin()" class="login-button">
    <a class="waves-effect waves-light btn-large button-img cyan lighten-3">
      <i class="material-icons right fa fa-google">keyboard_arrow_right</i>Login with Google
    </a>
    <!-- <i class="fa fa-google"></i> Connect Google -->
  </button>
</ng-template>


<!-- User logged in -->
<ng-template #authenticated>
  <div *ngIf="auth.user | async as user">
    <h3>Howdy, {{ user.displayName }}</h3>
    <img  [src]="user.photoURL">
    <p>UID: {{ user.uid }}</p>
    <p>Favorite Color: {{ user?.favoriteColor }} </p>
    <button (click)="auth.signOut()">Logout</button>
  </div>
</ng-template>
