body {
  height: 100vh;

  background-size: cover;
  background-attachment: fixed;
}

.icon {
  background-color: darkgrey;
  padding: 6vh 10vh 12vh 10vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50vh;
  /* opacity: 0.65; */
}

.login-button {
  padding: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button-img {
  margin-top: -5%;
  margin-left: -5%;
  margin-bottom: -5%;
  width: 110%;
  color: black;
  font-weight: bolder;
}
