<!-- Event List -->

<div class= "row" >
  <div class = "col s12">
    <h4  class="col s12 center-align">Events</h4>
    <hr>
    <br>
    <table *ngIf="events?.length > 0; else noEvents" class="bordered striped">
      <thead class="thead-inverse">
      <tr>
        <th>Name</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Date</th>
        <th>End Time</th>
        <th>Attending</th>
        <th>Is Complete?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="8"></td>
        <td colspan ="9"><a routerLink="/events/add/{{pid}}" class="btn btn-secondary btn-sm"><i class="material-icons">add</i></a></td>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.sdate | date: 'MM/dd/yyyy' }} </td>
        <td>{{event.stime}}</td>
        <td>{{ event.edate | date: 'MM/dd/yyyy' }}</td>
        <td>{{event.etime}}</td>
        <td>{{event.important|yesNoPipe}}</td>
        <td>{{event.complete|yesNoPipe}}</td>
        <td colspan = "9" ><a routerLink="/events/{{ event.eid }}/{{pid}}" class="btn btn-secondary btn-sm"><i class="material-icons">edit</i></a></td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noEvents>
    <table class="bordered striped">
      <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Date</th>
        <th>End Time</th>
        <th>Attending</th>
        <th>Is Complete?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="8">There are no events in the system for this user.</td>
        <td><a routerLink="/events/add/{{pid}}" class="btn btn-secondary btn-sm"><i class="material-icons">add</i></a></td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
