<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Add Event</h4>
    <a routerLink="/home" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <div class="card">
    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
        <div class="form-group">
          <label class="form-control-label" for="name">Event Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            #eventName="ngModel"
            [ngClass]="{'is-invalid':eventName.errors && eventName.touched}"
            [(ngModel)]="event.name"
            name="name"
            minlength="2"
            required
          >
          <div *ngIf="eventName.errors && (eventName.dirty || eventName.touched)">
            <div [hidden]="!eventName.errors?.required" class="invalid-feedback red-text darken-4">
              Event name required
            </div>

            <div [hidden]="!eventName.errors?.minlength" class="invalid-feedback red-text darken-4">
              Must be at least 2 characters
            </div>
          </div>


        </div>
          <div class="form-group">

            <label class="form-control-label" for="name">Event Start Date</label>
            <input
            type="text"
            id="sdate"
            #eventStartDate="ngModel"
            [ngClass]="{'is-invalid':eventStartDate.errors && eventStartDate.touched}"
            [(ngModel)]="event.sdate"
            name="sdatetime"
            class = "datepicker"

            >
            <div *ngIf="eventStartDate.errors && (eventStartDate.dirty || eventStartDate.touched)">
              <div [hidden]="!eventStartDate.errors?.required" class="invalid-feedback red-text darken-4">
              Event start date required
              </div>
          </div>
        </div>
        <div class="form-group">
          <label class="form-control-label" for="name">Event Start Time</label>
          <input
            type="text"
            class="form-control"
            id="stime"
            #eventStartTime="ngModel"
            [ngClass]="{'is-invalid':eventStartTime.errors && eventStartTime.touched}"
            [(ngModel)]="event.stime"
            name="stime"
          >
          <div *ngIf="eventStartTime.errors && (eventStartTime.dirty || eventStartTime.touched)">
            <div [hidden]="!eventStartTime.errors?.required" class="invalid-feedback red-text darken-4">
              Event start time required
            </div>
          </div>
        </div>
        <div class="form-group">

          <div class="card-action card-content grey lighten-4">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>


        </div>
      </form>
    </div>
  </div>
</div>
