<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Add Event</h4>
    <a routerLink="/home" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>
  </div>
  <!--NAME-->
  <div class="card">
    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
        <div class="form-group">
          <label class="form-control-label" for="name">Event Name</label>
          <input

            class="form-control"
            type="text"
            id="name"
            #eventName="ngModel"
            [ngClass]="{'is-invalid':eventName.errors && eventName.touched}"
            [(ngModel)]="event.name"
            name="name"
            minlength="2"
            required
          >
          <div *ngIf="eventName.errors && (eventName.dirty || eventName.touched)">
            <div [hidden]="!eventName.errors?.required" class="invalid-feedback red-text darken-4">
              Event name required
            </div>

            <div [hidden]="!eventName.errors?.minlength" class="invalid-feedback red-text darken-4">
              Must be at least 2 characters
            </div>
          </div>


        </div>
        <!--START DATE-->
          <div class="form-group">
            <label class="form-control-label" for="name">Event Start Date</label>
            <input

             class ="form-control"
             type = "date"
            id="sdate"
            #eventStartDate="ngModel"
            [ngClass]="{'is-invalid':eventStartDate.errors && eventStartDate.touched}"
            [(ngModel)]="event.sdate"
            name="sdate"

            />
            <div *ngIf="eventStartDate.errors && (eventStartDate.dirty || eventStartDate.touched)">
              <div [hidden]="!eventStartDate.errors?.required" class="invalid-feedback red-text darken-4">
              Event start date required
              </div>
          </div>
        </div>
        <!--START TIME-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event Start Time</label>
          <input
            class="form-control"
            type="time"
            id="stime"
            #eventStartTime="ngModel"
            [ngClass]="{'is-invalid':eventStartTime.errors && eventStartTime.touched}"
            [(ngModel)]="event.stime"
            name="stime"
          >
          <div *ngIf="eventStartTime.errors && (eventStartTime.dirty || eventStartTime.touched)">
            <div [hidden]="!eventStartTime.errors?.required" class="invalid-feedback red-text darken-4">
              Event start time required
            </div>
          </div>
        </div>
        <!--END DATE-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event End Date</label>
          <input
            type="date"
            class="form-control"
            id="edate"
            #eventEndDate="ngModel"
            [ngClass]="{'is-invalid':eventEndDate.errors && eventEndDate.touched}"
            [(ngModel)]="event.edate"
            name="edate"
          >
          <div *ngIf="eventEndDate.errors && (eventEndDate.dirty || eventEndDate.touched)">
            <div [hidden]="!eventEndDate.errors?.required" class="invalid-feedback red-text darken-4">
              Event end date required
            </div>
          </div>
        </div>
        <!--END TIME-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event End Time</label>
          <input

            class="form-control"
            type="time"
            id="etime"
            #eventEndTime="ngModel"
            [ngClass]="{'is-invalid':eventEndTime.errors && eventEndTime.touched}"
            [(ngModel)]="event.etime"
            name="etime"
          >
          <div *ngIf="eventEndTime.errors && (eventEndTime.dirty || eventEndTime.touched)">
            <div [hidden]="!eventEndTime.errors?.required" class="invalid-feedback red-text darken-4">
              Event end time required
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="card-action card-content grey lighten-4">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15, // Creates a dropdown of 15 years to control year,
      today: 'Today',
      clear: 'Clear',
      close: 'Ok',
      closeOnSelect: true // Close upon selecting a date,
    });


    $('.timepicker').pickatime({
      default: 'now', // Set default time: 'now', '1:30AM', '16:30'
      fromnow: 0,       // set default time to * milliseconds from now (using with default = 'now')
      twelvehour: false, // Use AM/PM or 24-hour format
      donetext: 'OK', // text for done-button
      cleartext: 'Clear', // text for clear-button
      canceltext: 'Cancel', // Text for cancel-button
      autoclose: false, // automatic close timepicker
      ampmclickable: true, // make AM PM clickable
      aftershow: function () {
      } //Function for after opening timepicker
    });
  });

</script>
