
<div class="fixed-action-btn modal-trigger" data-target="project_create_modal">
  <a class="btn-floating btn-large red waves-effect">
    <i class="large material-icons">add</i>
  </a>
</div>

<div id="project_list" class="container row">
</div>

<!-- Modal Structure -->
<div id="project_create_modal" class="modal">
  <div class="modal-content">
    <h4>Create new project</h4>
    <form class="grey lighten-4" onsubmit="return newProject()">
      <div class="row"></div>
      <div class="input-field ">
        <input type="text" id="project_new_name">
        <label for="project_new_name">Project Name</label>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="modal-action modal-close waves-effect btn-flat">Cancel</button>
    <button (click)="newProject()" class="modal-action modal-close waves-effect btn orange darken-2" >Submit</button>
  </div>
</div>
