<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Add Task</h4>
    <a (click)="goBack()" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
<div class="card">
  <div class="card-body">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit(taskForm)">

      <div class="form-group">
        <label class="form-control-label" for="name">Task Name</label>
        <input
            type="text"
            class="form-control"
            id="name"
            #taskName="ngModel"
            [ngClass]="{'is-invalid':taskName.errors && taskName.touched}"
            [(ngModel)]="task.name"
            name="name"
            minlength="2"
            required
        >
        <div *ngIf="taskName.errors && (taskName.dirty || taskName.touched)">
          <div [hidden]="!taskName.errors?.required" class="invalid-feedback red-text darken-4">
            Task name required
          </div>

          <div [hidden]="!taskName.errors?.minlength" class="invalid-feedback red-text darken-4">
            Must be at least 2 characters
            </div>
          </div>
        </div>

      <div class="form-group">
        <input
          class="form-control"
          type="checkbox"
          id="urgent"
          #taskUrgent
          [(ngModel)]="task.urgent"
          name="urgent"
        />
        <label class="form-control-label" for="urgent">Urgent</label>

        <input
          class="form-control"
          type="checkbox"
          id="important"
          #taskUrgent
          [(ngModel)]="task.important"
          name="important"
        />
        <label class="form-control-label" for="important">Important</label>
      </div>

      <div class="form-group">
        <label class="form-control-label" for="name">Task Weight</label>
        <select class="form-control browser-default" [(ngModel)]="task.weight" name="weight">
          <option *ngFor="let weight of TaskWeight.values();"
                  [attr.selected]="TaskWeight[TaskWeight.NONE]===weight ? true : null">{{weight}}</option>
        </select>
      </div>


      <div class="form-group">
        <label class="form-control-label" for="name">Task Due Date</label>
        <input
          type="date"
          class="form-control"
          id="dueDateTime"
          #taskDueDateTime="ngModel"
          [ngClass]="{'is-invalid':taskDueDateTime.errors && taskDueDateTime.touched}"
          [(ngModel)]="task.dueDateTime"
          name="dueDateTime"
        >
        <div *ngIf="taskDueDateTime.errors && (taskDueDateTime.dirty || taskDueDateTime.touched)">
          <div [hidden]="!taskDueDateTime.errors?.required" class="invalid-feedback red-text darken-4">
            Task due date required
          </div>
        </div>
      </div>
      <div class="form-group">

        <div class="card-action card-content grey lighten-4">
          <input type="submit" value="Submit" class="btn btn-primary btn-block">
        </div>


      </div>
    </form>
  </div>
</div>
</div>
