<!-- Event List -->

<div class= "row" >
  <div class = "col s12">
    <h5  class="col s12 left-align">Project Events</h5>
    <hr>
    <br>
    <table *ngIf="events?.length > 0; else noEvents" class="bordered striped">
      <thead class="thead-inverse">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Date</th>
        <th>End Time</th>
        <th>Important</th>
        <th>Is Complete?</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td colspan="5"></td>
        <td colspan="2"><a routerLink="/events/select/{{ pid }}" class="btn btn-secondary btn-sm"><i class="material-icons right">send</i> Assign Events</a></td>
      </tr>
      <tr *ngFor="let event of events">
        <td>{{ event.name }}</td>
        <td>{{ event.sdate }}</td>
        <td>{{event.stime}}</td>
        <td>{{event.edate}}</td>
        <td>{{event.etime}}</td>
        <td>{{event.important|yesNoPipe}}</td>
        <td>{{event.complete|yesNoPipe}}</td>
        <td>
          <button (click)="onRemoveClick(event)" class="btn btn-danger"><i class="material-icons">remove_circle</i></button>
          <button (click)="onDeleteClick(event)" class="btn btn-danger red"><i class="material-icons">clear</i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <ng-template #noEvents>
    <table class="bordered striped">
      <tbody>
      <tr>
        <td colspan="5">There are no events in the system for this user.</td>
        <td colspan="2"><a routerLink="/events/select/{{ pid }}" class="btn btn-secondary btn-sm"><i class="material-icons right">send</i> Assign Events</a></td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</div>
