<title>{{title}}</title>
<div class="container">
  <div class="row centered"> </div>
  <table class = "centered">
    <thead>
    <tr>
      <th>Urgent & Important</th>
      <th>Not Urgent & Important</th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td>Browse memes</td>
      <td>Rewatch the Prequels</td>
    </tr>
    </tbody>
  </table>
  <div class="row centered"></div>
  <table class = "centered">
    <thead>
    <tr>
      <th>Urgent & Not Important</th>
      <th>Not Urgent & Not Important</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Build this page</td>
      <td>Pass this class</td>
    </tr>
    </tbody>
  </table>
  <div class="row center">
    <a href="" id="add-button" class="btn-large waves-effect">Add Task</a>
    <a routerLink="/tasklist"><button class="btn-large waves-effect" > Show Tasks</button></a>
  </div>
</div>
