@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: #fff3e0;
  font-family: 'Roboto';
}
nav {
  height: 75px;
}

  /*
  padding: 3em;
  font-family: 'Roboto';
  color:#ff7043;
  font-size: 1.5em;
}

ul {
  list-style-type:none;
  margin:0 0 2em 0;
  padding:0;
}
ul li {
  display:inline;
  margin-right: 30px;
}
ul li a {
  font-size: 1.5em;
}
a {
  color:#fff;
  text-decoration:none;
}
*/
