<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Edit Event</h4>
    <a (click)="goBack()" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
  <div *ngIf="event" class="card">
    <div class="card-body">
      <form #eventForm="ngForm" (ngSubmit)="onSubmit(eventForm)">
        <!--Edit Name-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            #eventName="ngModel"
            [ngClass]="{'is-invalid':eventName.errors && eventName.touched}"
            [(ngModel)]="event.name"
            name="name"
            minlength="2"
            required
          >
          <div *ngIf="eventName.errors && (eventName.touched || eventName.dirty)">
            <div [hidden]="!eventName.errors?.required" class="invalid-feedback red-text darken-4">
              Event name required
            </div>

            <div [hidden]="!eventName.errors?.minlength" class="invalid-feedback red-text darken-4">
              Must be at least 2 characters
            </div>
          </div>
        </div>
        <!--Checkbox: important-->
        <div class = "form-group">
          <input
            class = "form-control"
            type="checkbox"
            id="important"
            #eventImportant
            [(ngModel)] = "event.important"
            name ="important"
          />
          <label class="form-control-label" for="important">Important</label>
        </div>
        <!--Edit Start Date-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event Start Date </label>
          <input
          type="date"
          class="form-control"
          id="sdate"
          #eventStartDate="ngModel"
          [ngClass]="{'is-invalid':eventStartDate.errors && eventStartDate.touched}"
          [(ngModel)]="event.sdate"
          name="sdate"
          required
          />
          <div *ngIf="eventStartDate.errors && (eventStartDate.dirty || eventStartDate.touched)">
            <div [hidden]="eventStartDate.errors?.required" class="invalid-feedback red-text darken-4">
            Event start date required
            </div>
          </div>
        </div>
        <!--Edit Start Time-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event Start Time  ex: 10:00AM</label>
          <input
            type="time"
            class="form-control"
            id="stime"
            #eventStartTime="ngModel"
            [ngClass]="{'is-invalid':eventStartTime.errors && eventStartTime.touched}"
            [(ngModel)]="event.stime"
            name="stime"
            required
          >
          <div *ngIf="eventStartTime.errors && (eventStartTime.dirty || eventStartTime.touched)">
            <div [hidden]="eventStartTime.errors?.required" class="invalid-feedback red-text darken-4">
              Event start date required  example: 12:20PM
            </div>
          </div>
        </div>
        <!--Edit End Date-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event End Date</label>
          <input
            type="date"
            class="form-control"
            id="edate"
            #eventEndDate="ngModel"
            [ngClass]="{'is-invalid':eventEndDate.errors && eventEndDate.touched}"
            [(ngModel)]="event.edate"
            name="edate"
          />
          <div *ngIf="eventEndDate.errors && (eventEndDate.dirty || eventEndDate.touched)">
            <div [hidden]="eventEndDate.errors?.required" class="invalid-feedback red-text darken-4">
              Event end date required
            </div>
          </div>
        </div>
        <!--Edit End Time-->
        <div class="form-group">
          <label class="form-control-label" for="name">Event End Time   ex: 12:30PM</label>
          <input
            type="time"
            class="form-control"
            id="etime"
            #eventEndTime="ngModel"
            [ngClass]="{'is-invalid':eventEndTime.errors && eventEndTime.touched}"
            [(ngModel)]="event.etime"
            name="etime"
          >
          <div *ngIf="eventEndTime.errors && (eventEndTime.dirty || eventEndTime.touched)">
            <div [hidden]="eventEndTime.errors?.required" class="invalid-feedback red-text darken-4">
              Event end time required
            </div>
          </div>
        </div>
        <!--Checkbox: complete-->
        <div class = "form-group">
          <input
            class = "form-control"
            type="checkbox"
            id="complete"
            #eventComplete
            [(ngModel)] = "event.complete"
            name ="important"
          />
          <label class="form-control-label" for="complete">Complete</label>
        </div>
        <div class="form-group">
          <div class="card-action card-content grey lighten-4">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
