<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Role Detail</h4>
    <a (click)="goBack()" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
  <div *ngIf="role" class="card">
    <h3 class="card-title">{{ role.name }}</h3>
    <div class="card-body">
      <ul class="list-group">
        <li class="list-group-item">Role ID: {{ role.rid }}</li>
        <li class="list-group-item">Role Name: {{ role.name }}</li>
        <li class="list-group-item">Role Color: <span class="{{ role.color }} lighten-1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></li>
        <li class="list-group-item">Role Added On: {{ role.createdAt }}</li>
        <li class="list-group-item">Role Last Updated On: {{ role.updatedAt }}</li>
      </ul>
      <hr>
    </div>
    <div class="card-action card-content grey lighten-4">
      <a routerLink="/roles/edit/{{ rid }}" class="btn btn-dark">Edit</a>
      <button (click)="onDeleteClick()" class="btn btn-danger">Delete</button>
    </div>
  </div>
</div>
