<nav>
  <div class=" nav-wrapper deep-orange lighten-1">
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons"> <span class="white-text">menu</span></i></a>
    <a id="logo-container" href="#" class="center brand-logo"><i class="material-icons">widgets</i>Q2</a>

    <ul id="slide-out" class="side-nav orange lighten-5">
      <li><div class="user-view deep-orange lighten-1">
        <a href="#"><img class="circle white-text" src="images/user.jpg"></a>
        <a href="#"><span class="name white-text">Rare Pepe</span></a>
        <a href="#"><span class="email white-text">Pepe@gmail.com</span></a>
      </div></li>
      <li><a class="waves-effect" routerLink="home"><i class="material-icons">home</i>Home</a></li>
      <li><a class="waves-effect" href="#"><i class="material-icons">web_asset</i>Calendar</a></li>
      <li><a class="waves-effect" href="#"><i class="material-icons">wc</i>Roles</a></li>
      <li><a class="waves-effect" href="#"><i class="material-icons">assignment</i>Tasks</a></li>
      <li><a class="waves-effect" href="projects"><i class="material-icons">assignment</i>Projects</a></li>
    </ul>

  </div>
</nav>

<router-outlet></router-outlet>

