<div class="row">
  <div class="col-md-6">
    <h4 class="col s12 center-align">Edit Role</h4>
    <a (click)="goBack()" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back
    </a>
  </div>
  <div *ngIf="role" class="card">
    <div class="card-body">
      <form #roleForm="ngForm" (ngSubmit)="onSubmit(roleForm)">
        <div class="form-group">
          <label class="form-control-label" for="name">Role Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            #roleName="ngModel"
            [ngClass]="{'is-invalid':roleName.errors && roleName.touched}"
            [(ngModel)]="role.name"
            name="name"
            minlength="2"
            required
          >
          <div *ngIf="roleName.errors && (roleName.dirty || roleName.touched)">
            <div [hidden]="!roleName.errors?.required" class="invalid-feedback red-text darken-4">
              Role name required
            </div>

            <div [hidden]="!roleName.errors?.minlength" class="invalid-feedback red-text darken-4">
              Must be at least 2 characters
            </div>
          </div>


        </div>
        <div class="form-group">
          <label class="form-control-label" for="color">Role Color</label>
          <input
            type="text"
            class="form-control"
            id="color"
            #roleColor="ngModel"
            [ngClass]="{'is-invalid':roleColor.errors && roleColor.touched}"
            [(ngModel)]="role.color"
            name="color"
            minlength="2"
            required
          >
          <div *ngIf="roleColor.errors && (roleColor.dirty || roleColor.touched)">
            <div [hidden]="!roleColor.errors?.required" class="invalid-feedback red-text darken-4">
              Role color required
            </div>

            <div [hidden]="!roleColor.errors?.minlength" class="invalid-feedback red-text darken-4">
              Must be at least 2 characters
            </div>
          </div>


        </div>
        <div class="form-group">

          <div class="card-action card-content grey lighten-4">
            <input type="submit" value="Submit" class="btn btn-primary btn-block">
          </div>


        </div>
      </form>
    </div>
  </div>
</div>
